<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BigIntegerExt (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-bigintegerext" />
    <add key="PaillierExt (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-paillierext" />
    <add key="ElGamalExt (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-elgamalext" />
    <add key="PaillierExt-Homomorphism (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-paillierext-homomorphism" />
    <add key="ElGamalExt-Homomorphism (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-elgamalext-homomorphism" />
  </packageSources>
</configuration>
